@import "../../SCSS/variables.scss";
@import "../../SCSS/animations.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/typography.scss";

.shirt-container {
  // position: relative;

  .photo-controls-container {
    z-index: 300;
    position: absolute;
    background-color: rgb(201, 235, 178);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: solid white 2px;
    box-shadow: 0px 10px 40px black;
  }

  .img-product-container {
    position: relative;
    width: 90%;

    .hide-x {
      position: absolute;
      left: 46%;
      top: 5%;
      background-color: #fff;
      padding: 2px;
      border-radius: 5px;
      cursor: pointer;
    }

    .img-product__shirt {
      width: 22%;
      margin-top: 20px;
    }

    .img-preview__shirt {
      width: 5%;
      position: absolute;
      top: 40%;
      left: 55%;
    }

    .img-preview__shirt--small-screens {
      display: none;
      width: 10%;
      position: absolute;
      top: 35%;
      margin-left: 28%;
    }
  }

  .text-on-shirts {
    width: 100px;
    top: 60%;
    left: 41.5%;
    z-index: 2;
    // display: inline-block;
    position: absolute;

    &__container {
      white-space: pre-wrap;
      font-size: 20px;
      font-family: "Arial Black", Gadget, sans-serif;
    }

    &__container--small-screens {
      position: absolute;

      display: none;
      white-space: pre-wrap;
      font-size: 15px;
      font-family: "Arial Black", Gadget, sans-serif;
      margin-left: 60%;
      width: 200px;
    }
  }

  .text-controls-container-shirt {
    position: absolute;
    width: 13%;
    left: 52%;
    top: 100%;
    background-color: rgb(201, 235, 178);
    padding: 10px;
    margin: 20px;
    border: solid white 2px;
    border-radius: 5px;

    .size-title-shirt__move {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 1;
    }
    .size-title-shirt__size {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row: 1;
      padding-left: 10px;
    }

    &__heading {
      margin: 0;
      border-bottom: 1px solid black;
    }

    &-box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;

      .move-text-btns-shirt {
        width: 90%;
        box-shadow: 0px 10px 40px black;
        border-radius: 5px;

        &__up {
          grid-column: 2;
          grid-row: 2;
        }
        &__right {
          grid-column: 3;
          grid-row: 3;
        }
        &__down {
          grid-column: 2;
          grid-row: 4;
        }
        &__left {
          grid-column: 1;
          grid-row: 3;
        }
        &__more {
          grid-column: 4;
          grid-row: 2;
          // padding-left: 10px;
          margin-bottom: 5px;
        }
        &__less {
          grid-column: 4;
          grid-row: 3;
          // padding-left: 10px;
        }
      }
    }
  }

  .parent-container-text-control {
    width: 100%;
    position: absolute;
    right: 0;
  }
}

.move-text-btns-container-shirts {
  margin-top: 5px;
  width: 100%;
  left: 53%;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1439px) {
  .text-controls-container-shirt {
    width: 20% !important;
    top: 190px;
    left: 45% !important;
  }
}

@media only screen and (min-device-width: 961px) and (max-device-width: 1199px) {
  .text-controls-container-shirt {
    width: 20% !important;
    top: 190px;
    left: 45% !important;
  }

  .text-on-shirts {
    // width: 150px !important;
  }
}

@media only screen and (min-device-width: 760px) and (max-device-width: 960px) {
  .img-product__shirt {
    width: 42% !important;
    margin-top: 20px;
  }

  .text-on-shirts {
    // width: 170px !important;
  }

  .text-controls-container-shirt {
    width: 20% !important;
    top: 190px;
    left: 45% !important;
  }
}

@media only screen and (min-device-width: 521px) and (max-device-width: 759px) {
  .img-product__shirt {
    width: 42% !important;
    margin-top: 20px;
  }

  .text-controls-container-shirt {
    width: 24% !important;
    top: 300px !important;
    left: 65% !important;
  }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 520px) {
  .img-product__shirt {
    width: 35% !important;
    margin-top: 20px;
    margin-left: 55% !important;
  }

  // .text-on-shirts__container {
  //   display: none !important;
  // }

  // .text-on-shirts__container--small-screens {
  //   display: inline-block !important;
  // }

  .hide-x {
    left: 70% !important;
    top: 5%;
  }

  .text-controls-container-shirt__heading {
    font-size: 14px;
  }

  .move-text-btns-shirt {
    width: 25px !important;
  }

  .text-controls-container-shirt {
    width: 34% !important;
    top: 200px !important;
    left: 45% !important;
  }

  .img-preview__shirt {
    display: none;
  }

  .img-preview__shirt--small-screens {
    display: inline-block !important;
  }

  .text-on-shirts__container {
    display: none;
  }

  .text-on-shirts__container--small-screens {
    display: inline-block !important;
  }
}

@media only screen and (min-device-width: 440px) and (max-device-width: 500px) {
  .img-product__shirt {
    width: 40% !important;
    margin-top: -35px !important;
    margin-left: 55% !important;
  }

  .hide-x {
    left: 70% !important;
    top: -18% !important;
    font-size: 10px;
  }

  .text-controls-container-shirt-box {
    grid-template-rows: 15px;
  }

  .text-controls-container-shirt__heading {
    font-size: 14px;
  }

  .size-title-shirt__move,
  .size-title-shirt__size {
    display: none;
  }

  .move-text-btns-shirt {
    width: 25px !important;
    margin-top: -5px !important;
  }

  .text-controls-container-shirt {
    width: 30% !important;
    top: 160px !important;
    left: 45% !important;
  }

  .img-preview__shirt {
    display: none;
  }

  .img-preview__shirt--small-screens {
    display: inline-block !important;
  }

  .text-on-shirts__container {
    display: none !important;
  }

  .text-on-shirts__container--small-screens {
    display: inline-block !important;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 439px) {
  .img-product__shirt {
    width: 40% !important;
    margin-top: -35px !important;
    margin-left: 55% !important;
  }

  .hide-x {
    left: 70% !important;
    top: -20% !important;
    font-size: 10px;
  }

  .text-controls-container-shirt-box {
    grid-template-rows: 15px;
  }

  .text-controls-container-shirt__heading {
    font-size: 14px;
  }

  .size-title-shirt__move,
  .size-title-shirt__size {
    display: none;
  }

  .move-text-btns-shirt {
    width: 25px !important;
    margin-top: -5px !important;
  }

  .text-controls-container-shirt {
    width: 30% !important;
    top: 140px !important;
    left: 45% !important;
  }

  .img-preview__shirt {
    display: none;
  }

  .img-preview__shirt--small-screens {
    display: inline-block !important;
  }

  .text-on-shirts__container {
    display: none;
  }

  .text-on-shirts__container--small-screens {
    display: inline-block !important;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 399px) {
  .shirt-container {
    margin-top: 40px;
  }

  .img-product__shirt {
    width: 40% !important;
    margin-top: -35px !important;
    margin-left: 55% !important;
  }

  .hide-x {
    left: 68% !important;
    top: -30% !important;
    font-size: 10px;
  }

  .text-controls-container-shirt-box {
    grid-template-rows: 15px;
  }

  .text-controls-container-shirt__heading {
    font-size: 14px;
  }

  .size-title-shirt__move,
  .size-title-shirt__size {
    display: none;
  }

  .move-text-btns-shirt {
    width: 25px !important;
    margin-top: -5px !important;
  }

  .text-controls-container-shirt {
    width: 35% !important;
    top: 120px !important;
    left: 45% !important;
  }

  .img-preview__shirt {
    display: none;
  }

  .img-preview__shirt--small-screens {
    display: inline-block !important;
  }

  .text-on-shirts__container {
    display: none;
  }

  .text-on-shirts__container--small-screens {
    display: inline-block !important;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 359px) {
  .img-product__shirt {
    width: 40% !important;
    margin-top: -35px !important;
    margin-left: 55% !important;
  }

  .hide-x {
    left: 68% !important;
    top: -30% !important;
    font-size: 10px;
  }

  .text-controls-container-shirt-box {
    grid-template-rows: 15px;
  }

  .text-controls-container-shirt__heading {
    font-size: 14px;
  }

  .size-title-shirt__move,
  .size-title-shirt__size {
    display: none;
  }

  .move-text-btns-shirt {
    width: 25px !important;
    margin-top: -5px !important;
  }

  .text-controls-container-shirt {
    width: 35% !important;
    top: 100px !important;
    left: 45% !important;
  }

  .img-preview__shirt {
    display: none;
  }

  .img-preview__shirt--small-screens {
    display: inline-block !important;
  }

  .text-on-shirts__container {
    display: none;
  }

  .text-on-shirts__container--small-screens {
    display: inline-block !important;
  }
}
