@import "../../SCSS/variables.scss";
@import "../../SCSS/animations.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/typography.scss";

.shirt-container {
	// position: relative;

	.photo-controls-container {
		z-index: 300;
		position: absolute;
		background-color: rgb(201, 235, 178);
		padding: 10px;
		margin: 20px;
		border-radius: 5px;
		border: solid white 2px;
		box-shadow: 0px 10px 40px black;
	}

	.img-product-container {
		position: relative;
		width: 90%;

		.hide-x {
			position: absolute;
			left: 46%;
			top: 5%;
			background-color: #fff;
			padding: 2px;
			border-radius: 5px;
			cursor: pointer;
		}

		.img-product__shirt {
			width: 22%;
			margin-top: 20px;
		}

		.img-preview__shirt {
			width: 5%;
			position: absolute;
			top: 40%;
			left: 55%;
		}
	}

	.text-on-shirts {
		width: 22%;
		height: 350px;
		top: 60%;
		left: 34%;
		z-index: 2;
		// display: inline-block;
		position: absolute;

		&__container {
			white-space: pre-wrap;
			font-size: 20px;
			font-family: "Arial Black", Gadget, sans-serif;
		}
	}

	.text-controls-container-shirt {
		width: 25%;
		position: absolute;
		right: 0;
		top: 80px;
		// width: 200px;
		position: absolute;
		right: 30%;
		background-color: rgb(201, 235, 178);
		padding: 10px;
		margin: 20px;
		border-radius: 5px;
		border: solid white 2px;
		box-shadow: 0px 10px 40px black;

		&__heading {
			margin: 0;
		}

		&-box {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			align-items: center;

			.move-text-btns-shirt {
				width: 85%;
				cursor: pointer;
				box-shadow: 0px 10px 30px black;
				background-color: transparent;
				border-radius: 10px;
				margin: 2px 1px;
				padding: 1px;

				&:hover {
					filter: brightness(1.75);
				}
				&:active {
					transform: scale(0.9);
					filter: brightness(1.1);
				}

				&__up {
					grid-column: 2;
					grid-row: 2;
				}
				&__right {
					grid-column: 3;
					grid-row: 3;
				}
				&__down {
					grid-column: 2;
					grid-row: 4;
				}
				&__left {
					grid-column: 1;
					grid-row: 3;
				}
				&__more {
					grid-column: 4;
					grid-row: 2;
					// padding-left: 10px;
					margin-bottom: 5px;
				}
				&__less {
					grid-column: 4;
					grid-row: 3;
					// padding-left: 10px;
				}
			}
		}
	}

	.parent-container-text-control {
		width: 100%;
		position: absolute;
		right: 0;
	}
}

.shirt-container-back {
	width: 50%;
	position: absolute;
	right: 0;
}

.move-text-btns-container-shirt {
	top: 80px;
	// display: flex;
	position: relative;
	width: 20%;
	margin-left: 51%;
}
