.cosmetic-bag-front {
  width: 40%;
}

.img-preview__cosmeticBag {
  width: 20%;
  position: absolute;
  top: 5%;
  left: 35%;
}

.img-preview__cosmeticBag--small-screens {
  display: none;
  width: 20%;
  position: absolute;
  top: 35%;
  margin-left: 28%;
}

.photo-controls-container {
  z-index: 300;
  position: absolute;
  background-color: rgb(201, 235, 178);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border: solid white 2px;
  box-shadow: 0px 10px 40px black;
}

.text-controls-container-cosmeticBag {
  position: absolute;
  width: 13%;
  left: 52%;
  top: 100%;
  background-color: rgb(201, 235, 178);
  padding: 10px;
  margin: 20px;
  border: solid white 2px;
  border-radius: 5px;
  z-index: 301;

  .size-title-cosmeticBag__move {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
  }
  .size-title-cosmeticBag__size {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
    padding-left: 10px;
  }

  &__heading {
    margin: 0;
    border-bottom: 1px solid black;
  }

  &-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

    .move-text-btns-cosmeticBag {
      width: 90%;
      box-shadow: 0px 10px 40px black;
      border-radius: 5px;

      &__up {
        grid-column: 2;
        grid-row: 2;
      }
      &__right {
        grid-column: 3;
        grid-row: 3;
      }
      &__down {
        grid-column: 2;
        grid-row: 4;
      }
      &__left {
        grid-column: 1;
        grid-row: 3;
      }
      &__more {
        grid-column: 4;
        grid-row: 2;
        margin-bottom: 5px;
      }
      &__less {
        grid-column: 4;
        grid-row: 3;
      }
    }
  }
}

.move-text-btns-container-cosmeticBag {
}

.text-container-cosmeticBag-parent {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 10%;
  left: 45%;

  .text-on-cosmeticBag {
    font-size: 45px;
    width: 22%;
    height: 350px;
    top: 10%;
    left: 10%;
    z-index: 2;

    &__container {
      white-space: pre-wrap;
      font-size: 30px;
      font-family: "Arial Black", Gadget, sans-serif;
    }

    &__container--small-screens {
      position: absolute;

      display: none;
      white-space: pre-wrap;
      font-size: 15px;
      font-family: "Arial Black", Gadget, sans-serif;
      margin-left: 60%;
      width: 200px;
    }
  }
}

@media only screen and (min-device-width: 960px) and (max-device-width: 1200px) {
  .text-controls-container-cosmeticBag {
    width: 20% !important;
    top: 220px;
    left: 45% !important;
  }
}

@media only screen and (min-device-width: 760px) and (max-device-width: 959px) {
  .text-controls-container-cosmeticBag {
    width: 20% !important;
    top: 180px;
    left: 45% !important;
  }
}

@media only screen and (min-device-width: 560px) and (max-device-width: 759px) {
  .text-controls-container-cosmeticBag {
    width: 25% !important;
    top: 200px;
    left: 65% !important;
  }

  .text-container-cosmeticBags-parent {
    display: none;
  }

  .text-container-cosmeticBags-parent-small-screens {
    display: inline-block !important;
  }
}

@media only screen and (min-device-width: 520px) and (max-device-width: 559px) {
  .text-controls-container-cosmeticBag {
    width: 25% !important;
    top: 200px;
    left: 65% !important;
  }

  .text-container-cosmeticBags-parent {
    display: none;
  }

  .text-container-cosmeticBags-parent-small-screens {
    display: inline-block !important;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 520px) {
  .text-controls-container-cosmeticBag {
    width: 35% !important;
    top: 130px;
    left: 45% !important;
    z-index: 3000;

    &__heading {
      font-size: 14px;
    }
  }

  .text-container-cosmeticBags-parent {
    display: none;
  }

  .text-container-cosmeticBags-parent-small-screens {
    display: none;
  }

  .text-container-cosmeticBags-parent-Xsmall-screens {
    display: inline-block !important;
  }

  .size-title-cosmeticBag__move,
  .size-title-cosmeticBag__size {
    display: none;
  }

  .text-controls-container-cosmeticBag-box {
    grid-template-rows: 15px;
  }

  .move-text-btns-cosmeticBag {
    width: 25px !important;
    margin-top: -5px !important;
  }
}

@media only screen and (min-device-width: 220px) and (max-device-width: 399px) {
  .text-controls-container-cosmeticBag {
    width: 35% !important;
    top: 90px;
    left: 45% !important;

    &__heading {
      font-size: 14px;
    }
  }

  .text-container-cosmeticBags-parent {
    display: none;
  }

  .text-container-cosmeticBags-parent-small-screens {
    display: none;
  }

  .text-container-cosmeticBags-parent-Xsmall-screens {
    display: inline-block !important;
  }

  .size-title-cosmeticBag__move,
  .size-title-cosmeticBag__size {
    display: none;
  }

  .text-controls-container-cosmeticBag-box {
    grid-template-rows: 15px;
  }

  .move-text-btns-cosmeticBag {
    width: 25px !important;
    margin-top: -5px !important;
  }
}
