@import "../../SCSS/variables.scss";
@import "../../SCSS/animations.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/typography.scss";

//css for this is in the products scss file inside .product-image-container
.text-controls-container-mugs__heading {
  text-align: center;
}
.mugs-container {
  display: flex;
  margin-bottom: 20%;

  .product-sides {
    font-size: 20px;
    margin-top: 8%;
    &__a {
      margin-left: 30px;
    }

    &__b {
      margin-left: 85%;
    }
  }

  &__front {
    width: 50%;
    position: absolute;

    .product-img {
      height: auto;
      width: 50%;
    }

    .product-img-preview-mug {
      opacity: 80%;
      width: 35%;
      height: 85%;
      position: absolute;
      top: 5%;
      left: 26%;
      clip-path: polygon(
        0 94%,
        0 9%,
        21% 4%,
        41% 2%,
        61% 2%,
        81% 4%,
        99% 8%,
        100% 94%,
        79% 98%,
        60% 100%,
        43% 100%,
        19% 98%
      );
    }
  }

  &__back {
    width: 50%;
    position: absolute;
    left: 50%;

    .product-img__back {
      height: auto;
      width: 50%;
    }

    .text-on-mugs {
      width: 35%;
      height: 350px;
      top: 8%;
      left: 40%;
      z-index: 2;
      display: inline-block;
      position: absolute;
      &__container {
        white-space: pre-wrap;
        font-size: 30px;
        font-family: "Arial Black", Gadget, sans-serif;
      }
    }

    .bg-container-mugs {
      .bg-image-mug {
        position: absolute;
        top: 5%;
        left: 39%;
        width: 34%;
        height: 85%;
        clip-path: polygon(
          0 94%,
          0 9%,
          21% 4%,
          41% 2%,
          61% 2%,
          81% 4%,
          99% 8%,
          100% 94%,
          79% 98%,
          60% 100%,
          43% 100%,
          19% 98%
        );
      }
    }

    .move-text-btns-container {
      top: 40px;
      // display: flex;
      position: relative;
      width: 30%;
      margin-left: 35%;

      .move-text-btns {
        position: absolute;
        font-size: 22px;
        padding: 5px 0px;
        border-radius: 10px;
        background-color: $color-primary-dark;
        margin-top: 20px;
      }
    }
  }
}

.text-controls-container-mugs {
  position: absolute;
  width: 30%;
  left: 25%;
  top: 120%;
  background-color: rgb(201, 235, 178);
  padding: 10px;
  margin: 20px;
  border: solid white 2px;
  border-radius: 5px;

  &__heading {
    margin: 0;
  }

  &-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: center;
  }
}

.move-text-btns-container-mug {
  margin-top: 10px;
  width: 100%;
  left: 0;
  z-index: 50;
}

//This Class Only defines MUGS Move text Control buttons
.move-text-btns {
  width: 90%;
  cursor: pointer;
  box-shadow: 0px 10px 40px black;
  border-radius: 5px;

  &:hover {
    filter: brightness(1.75);
  }
  &:active {
    transform: scale(0.9);
    filter: brightness(1.1);
  }

  &__up {
    grid-column: 2;
    grid-row: 2;
  }
  &__right {
    grid-column: 3;
    grid-row: 3;
  }
  &__down {
    grid-column: 2;
    grid-row: 4;
  }
  &__left {
    grid-column: 1;
    grid-row: 3;
  }
  &__more {
    grid-column: 4;
    grid-row: 2;
    margin-bottom: 5px;
  }
  &__less {
    grid-column: 4;
    grid-row: 3;
  }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1930px) {
  .product-sides__b {
    margin-left: 82% !important;
  }
}

@media only screen and (min-device-width: 961px) and (max-device-width: 1199px) {
  .product-sides__b {
    margin-left: 78% !important;
  }
}

@media only screen and (min-device-width: 961px) and (max-device-width: 1314px) {
  .text-controls-container-mugs {
    left: 20%;
    width: 35%;
    top: 130%;
  }
}

@media only screen and (min-device-width: 760px) and (max-device-width: 960px) {
  .text-controls-container-mugs {
    left: 20%;
    width: 50%;
    top: 160%;
  }

  .product-sides__a {
    margin-left: 1% !important;
  }

  .product-sides__b {
    margin-left: 78% !important;
  }
}

@media only screen and (min-device-width: 520px) and (max-device-width: 759px) {
  .text-controls-container-mugs {
    left: 20%;
    width: 50%;
    top: 160%;
  }

  .product-sides__a {
    margin-left: 1% !important;
  }

  .product-sides__b {
    margin-left: 78% !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 519px) {
  .text-controls-container-mugs {
    left: -40% !important;
    width: 60% !important;
    top: 90%;
  }

  .text-controls-container-mugs-box {
    grid-template-rows: 5px;
  }

  .text-on-mugs {
    width: 50% !important;
  }

  .size-title__move,
  .size-title__size {
    display: none;
  }

  .product-sides__a {
    margin-left: 1% !important;
    display: none;
  }

  .product-sides__b {
    margin-left: 78% !important;
    display: none;
  }

  .product-img {
    width: 90% !important;
  }

  .product-img-preview-mug {
    width: 62% !important;
    left: 8% !important;
  }

  .product-img__back {
    width: 90% !important;
  }

  .bg-image-mug {
    width: 62% !important;
    left: 25% !important;
  }

  .mugs-container {
    margin-bottom: 40%;
  }

  .mugs-container__back {
    text-align: left;
  }

  .color-text-mugs {
    font-size: 14px;
    z-index: 3;
  }

  .text-controls-container-mugs__heading {
    font-size: 14px;
  }

  .move-text-btns {
    width: 70% !important;
  }
}
