.btns-checkout-stripe,
.btns-checkout-stripe:focus {
  outline: 0;
  width: 100%;
  margin: 10px auto;
  display: block;
  padding: 5px 0;
  background-color: rgb(52, 143, 246);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: rgb(28, 95, 172);
  }
}

.card-element-wrapper {
  border: 1px solid rgb(182, 182, 182);
  padding: 10px;
}

.credit-cards {
  width: 12%;
  display: block;
  margin: 10px auto;
}

@media only screen and (min-device-width: 960px) and (max-device-width: 1200px) {
  .credit-cards {
    width: 15%;
  }
}

@media only screen and (min-device-width: 760px) and (max-device-width: 959px) {
  .credit-cards {
    width: 20%;
  }
}

@media only screen and (min-device-width: 560px) and (max-device-width: 759px) {
  .credit-cards {
    width: 30%;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 559px) {
  .credit-cards {
    width: 40%;
  }

  .main-container-billing {
    margin-top: 50px;
    border: 1px solid black;
    padding: 100px 10px;
  }

  .loadPage-stripeForm {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0;
    background-color: white;
  }
}
