.card-container {
  // background-color: rgb(24, 211, 224);
  width: 95%;
  height: 100%;
}

.images-about {
  width: 100%;
  // height: 80%;
  margin-top: 20px;
  -webkit-border-radius: 0px 40px 0px 40px;
  -moz-border-radius: 0px 40px 0px 40px;
  border-radius: 0px 40px 0px 40px;
  border: 12px double #c59700;
  align-self: center;
}
