.cart-info-parag {
  font-size: 14px;
}
.itemInCart-wrapper {
  .counter-btns {
    outline: 0;
    background-color: rgb(91, 118, 124);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      transform: scale(1.1);
    }

    &__plus {
      margin-left: 5px;
    }

    &__minus {
    }
  }

  .remove-item-from-cart-modal-btn {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(236, 76, 76);
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.checkout-btn-moreProducts {
  outline: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: rgb(0, 144, 201);
  padding: 5px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: rgb(9, 123, 168);
  }
}
