.cart-info-parag {
  font-size: 14px;
  margin: 5px auto;

  &__subTotal,
  &__tax,
  &__total {
    margin: 15px auto;
  }
}

.cart-container {
  text-align: center;
  font-size: 20px;
  // position: relative;
  // width: 7%;
  // top: -65px;
  // left: 8%;
  background-color: rgb(253, 255, 163);
  border: 1px solid rgb(182, 182, 182);
  padding: 2px;
  border-radius: 5px;
  // z-index: 9000;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 10px 30px black;
  }
}

.contentInCart-mainWrapper {
  // height: 150px;
  // overflow: auto;
  border: 1px solid rgb(216, 216, 216);
  padding: 10px;
  border-radius: 5px;
}

.itemInCart-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;

  .counter-btns {
    outline: 0;
    background-color: rgb(91, 118, 124);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      transform: scale(1.1);
    }

    &__plus {
      margin-left: 5px;
    }

    &__minus {
    }
  }

  .productImage {
    width: 20%;
    margin-left: 50%;
    padding-top: 20px;
  }

  .hr__cart {
    grid-column: 1 / 3;
    width: 100%;
    border: 0.5px solid rgb(229, 230, 231);
  }

  .remove-item-from-cart-modal-btn {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(236, 76, 76);
    color: white;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

//Customizing checkout modal
.customModalCheckout {
  border-radius: 5px;
}

.checkout-btn-moreProducts {
  outline: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: rgb(0, 144, 201);
  padding: 5px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: rgb(9, 123, 168);
  }
}

.empty-cart-button__checkout-modal {
  outline: 0;
  background-color: rgb(236, 76, 76);
  color: white;
  left: 2%;
  top: 2%;
  float: left;
  position: absolute;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: red;
  }
}

.x-close-modal {
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
  float: right;
  margin-top: -25px;
  margin-right: -25px;
  // border: 1px black solid;
  padding: 2px 3px;
  border-radius: 5px;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);

  &:hover {
    color: red;
    transform: rotate(180deg);
  }
}

.checkout-form {
  .input-checkout {
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(182, 182, 182);
    // box-shadow: 0px 10px 10px rgb(146, 139, 139);
  }

  .coupon-container {
    // width: 80%;
    margin: 6px auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .input-checkout__coupon {
      padding: 0 5px;
      margin: 0px;
      grid-column: 3 / 4;
      grid-row: 1;
      border-radius: 5px;
      border: 1px solid rgb(182, 182, 182);
    }

    .coupon-results-wrapper {
      justify-self: start;
      grid-column: 4 / 5;
      grid-row: 1;
    }

    .coupon-results-wrapper__applied {
      justify-self: center;
      grid-column: 3 / 5;
      grid-row: 1;
    }

    .coupon-btn,
    .coupon-btn:focus {
      outline: 0;
      padding: 7px;
      background-color: rgb(52, 143, 246);
      color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: rgb(28, 95, 172);
        color: white;
      }
    }

    .coupon-applied {
      color: green;
      margin: 0;
    }

    .coupon-error {
      grid-column: 3 / 5;
      grid-row: 2;
      color: rgb(255, 136, 0);
      font-size: 14px;
    }
  }

  .shippingOptionsSelect {
    width: 70%;
    margin: 10px auto;
  }

  .btn-checkout,
  .btn-checkout:focus {
    margin-top: 30px;
    outline: 0;
    width: 100%;
    padding: 3px 0;
    border-radius: 5px;
    background-color: rgb(52, 143, 246);
    // box-shadow: 0px 10px 30px black;
    padding: 5px;
    border: none;

    color: rgb(255, 254, 254);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: rgb(28, 95, 172);
      color: white;
    }
  }

  .error-msg {
    color: red;
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
  }
}

.main-container-billing {
  // margin-top: 50px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  padding: 10px 10px;
}

.cart-summary-container {
  margin: 5px auto;
  display: block;
  width: 60%;
  border: 1px solid rgb(161, 161, 161);
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (min-device-width: 521px) and (max-device-width: 768px) {
  .cart-container {
    font-size: 14px;
  }

  .itemInCart-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &_productInfo {
      grid-column: 1 / 3;
    }

    &_image {
      grid-column: 3 / 4;

      .productImage {
        width: 20%;
        justify-items: center;
      }
    }

    .hr__cart {
      grid-column: 1 / 4;
    }
  }

  .main-container-billing {
    margin-top: 0;
    padding: 10px;

    .order-summary-title-modal {
      font-size: 16px;
      // margin-top: -15px;
    }
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 520px) {
  .cart-container {
    font-size: 14px;
  }

  .cart-summary-container {
    margin: 5px auto;
    display: block;
    width: 90%;
    border: 1px solid rgb(161, 161, 161);
    // padding: 10px;
    border-radius: 5px;
  }

  .order_summary-modal-title {
    margin-top: 10px;
  }

  .checkout-modal-wrapper {
    margin-top: 20px;
  }

  .empty-cart-button__checkout-modal {
    top: 1% !important;
  }

  .itemInCart-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &_productInfo {
      grid-column: 1 / 3;
    }

    &_image {
      grid-column: 3 / 4;
      grid-row: 1;

      .productImage {
        width: 50%;
        justify-items: center;
      }
    }

    .hr__cart {
      grid-column: 1 / 4;
    }
  }

  .main-container-billing {
    margin-top: 0;
    padding: 10px;

    .order-summary-title-modal {
      font-size: 16px;
      // margin-top: -15px;
    }
  }
}
