@import "../../SCSS/animations.scss";

.products-general-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 160px;

  .article-not-included {
    font-size: 10px;
  }
  .product-general-products-container {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 0px 5px 5px rgb(185, 185, 185);
    border-radius: 5px;
    margin: 10px;
    width: 48%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .keychain-facemask-heading {
      grid-column: 1 /5;
    }

    .keychain-facemask-img-container {
      grid-column: 1 /3;
      grid-row: 2;

      .keychain-facemask-img {
        display: block;
        margin: 0 auto;
        width: 60%;
      }
    }

    .zoomIcon__backpack {
      margin-right: 5px;
      position: relative;
      left: 90%;
      top: 30px;
    }

    .zoomIcon:hover ~ .keychain-facemask-img__purse {
      transform: scale(5);
    }

    .zoomIcon__backpack:hover ~ .keychain-facemask-img__backpack {
      transform: scale(5);
    }

    .keychain-facemask-img-container__purse {
      position: relative;
      top: 0;
      margin: 0 auto;
      display: block;
      grid-column: 3 / 4;
      grid-row: 2;
      translate: all 1s;
      align-self: end;

      &:hover .keychain-facemask-img__purse {
        &:hover {
          transform: scale(5);
          background-color: rgb(247, 247, 247);
          border: 0.5px solid rgb(223, 219, 219);
          z-index: 10;
        }
      }

      .keychain-facemask-img__purse {
        position: relative;
        // top: 15%;
        width: 60%;
        display: block;
        margin: 0 auto;
        // animation: zoomOutPurse 4s ease-in-out;
        animation-delay: 4s;
        transition: all 0.5s;
      }
    }

    .keychain-facemask-img-container__backpack {
      margin: 0 auto;
      // margin-top: 100px;
      display: block;
      grid-column: 4 / 5;
      grid-row: 2;
      align-self: end;

      .keychain-facemask-img__backpack {
        width: 50%;
        // animation: zoomOutBackpack 4s ease-in-out;
        margin: 0 auto;
        display: block;

        animation-delay: 4s;
        transition: all 0.5s;

        &:hover {
          transform: scale(5);
          background-color: rgb(247, 247, 247);
          border: 0.5px solid rgb(223, 219, 219);
          z-index: 10;
        }
      }
    }

    .product-general-info-container {
      grid-column: 3 / 5;
      grid-row: 3;

      .productGeneral-info-heading {
        margin: 10px 0 -10px 0;
      }

      .product-info-paragraph {
        padding: 5px 15px 0 0;
        text-align: justify;
        font-size: 14px;
      }
    }

    .promo-video {
      grid-column: 1 / 3;
      grid-row: 3;
      width: 80%;
      margin: 10px auto;
      align-self: center;

      .promo-video__content {
        border-radius: 5px;
        border: 2px solid rgb(70, 194, 231);
        width: 100%;
      }
    }
  }

  .selectItem-btn {
    width: 95%;

    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 190, 159);
    color: white;
    margin-left: 0;
    margin-bottom: 10px;

    &:hover {
      background-color: rgb(5, 209, 175);
      color: white;
    }
  }

  .qty-container {
    width: 96%;
    border-radius: 5px;
    border: 0.5px solid rgb(187, 205, 221);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 auto 10px 0;
    padding: 0;
    grid-template-rows: 50px;

    .adToCart-btn {
      cursor: pointer;
      padding: 5px;
      font-size: 18px;
      border-radius: 5px;
      border: none;
      background-color: rgb(0, 190, 159);
      color: white;
      margin-right: 5px;

      &:hover {
        background-color: rgb(5, 209, 175);
        color: white;
      }
    }

    .h2-qty {
      font-size: 14px;
      justify-self: start;
      margin-left: 10px;
      text-align: center;
      padding: 4px 5px;

      .qty-symbols {
        margin-left: 1px;
        border-radius: 5px;
        // width: 20px;
        // display: inline-block;

        &__number {
          border: none;
          display: inline;
          margin-left: 10px;
        }

        &__plus {
          margin-left: 15px;
          background-color: rgb(20, 12, 6);
          color: white;
          cursor: pointer;
          font-size: 20px;
          border: none;
        }

        &__minus {
          background-color: rgb(20, 12, 6);
          color: white;
          cursor: pointer;
          font-size: 20px;
          border: none;
        }
      }
    }
  }
}
.cart-info-parag {
  font-size: 14px;
}
.itemInCart-wrapper {
  .counter-btns {
    outline: 0;
    background-color: rgb(91, 118, 124);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      transform: scale(1.1);
    }

    &__plus {
      margin-left: 5px;
    }

    &__minus {
    }
  }

  .remove-item-from-cart-modal-btn {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(236, 76, 76);
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}

.checkout-btn-moreProducts {
  outline: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: rgb(0, 144, 201);
  padding: 5px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: rgb(9, 123, 168);
  }
}
