@import "../../SCSS/variables.scss";
@import "../../SCSS/animations.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/typography.scss";

.product-creation-container {
  height: 100vh;
  margin-bottom: 40px;
}

.loadingScreen-hidden {
  display: none;
}

.loadingScreen {
  background-color: rgba(89, 125, 136, 0.74);
  width: 100%;
  height: 150vh;
  position: fixed;
  top: 0;
  z-index: 900000;

  .loading-video {
    width: 100%;

    &__content {
      border-radius: 500px;
      width: 20%;
      height: 35%;
      margin: 200px auto;
      display: block;
    }
  }

  .please-wait {
    margin-top: -150px;
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px black;
  }
}

.home__heading {
  margin-top: 25px;
  font-size: 35px;
  font-weight: 900;
  background-color: $color-blue-dark;
  color: white;
  padding: 5px;
  text-shadow: 2px 2px black;
}

.steps-parent {
  display: flex;
  margin-bottom: 120px;
}

.steps-container {
  display: flex;
  flex-direction: column;

  .arrowToRight {
    transition: all 0.1s;
    animation: arrowRight ease-out 2s infinite;
    font-family: "montserrat";
  }
}

.arrowToLeft {
  transition: all 0.1s;
  // animation: arrowRight linear 2s infinite;
  font-size: 26px;
  width: 100%;
  margin: 15px;
  color: rgb(10, 7, 0);
  text-shadow: 4px 4px 6px white;
  font-family: "montserrat";
}

.hideInBigScreens {
  display: none;
}

.startover-btn-container {
  text-align: right;
}

.startOver-button,
.startOver-button:active {
  @include button;
  text-align: center;
  margin-bottom: 20px;
  top: -90px;
  right: 10px;
  position: absolute;
  background-color: rgb(236, 76, 76);
  color: rgb(255, 255, 255);
  width: 15%;
  font-size: 14px;
  box-shadow: 0px 5px 5px black;
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: hidden;

  &:hover {
    background-color: red;
    box-shadow: 0px 7px 7px black;
  }
}

// .step3-mainWrapper {
//   width: 80%;
// }

.step-btn {
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  width: 500px;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px black;
  font-weight: 800;
  color: rgb(255, 255, 255);
  font-family: "montserrat";
  // text-shadow: 4px 4px 2px rgb(0, 0, 0);

  &__1 {
    background-color: $color-blue-dark;
  }
  &__2 {
    background-color: $color-blue-dark;
  }
  &__3 {
    background-color: $color-blue-dark;
  }
}

.product-created-modal-container {
  background-color: black;
  color: white;
  padding: 40px;

  .thumbs-up {
    width: 80px;
    margin: 10px auto;
  }
}

.order-summary {
  max-width: 500px;
  font-weight: 700;
  background-color: rgb(252, 252, 252);
  font-size: 20px;
  text-align: right;
  padding: 10px;
  margin: 10px auto;
  border: rgb(145, 144, 144) solid 1px;
  border-radius: 5px;

  .checkout-step3 {
    outline: 0;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    background-color: rgb(109, 250, 15);
    width: 100%;
    color: rgb(73, 67, 67);
    &:hover {
      transform: scale(1.05);
    }
  }

  .arrowDown {
    margin: 0;
    color: green;
  }

  .empty-cart-button {
    background-color: rgb(236, 76, 76);
    color: white;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: red;
    }
  }
}

.shirt-mobile-heading {
  display: none;
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.controls-to-add-content-to-mugs {
  background-color: #e1fffd;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  border: solid 0.5px rgb(196, 216, 218);

  .background-select {
    width: 41.5%;
  }

  .upload-photo-parent {
    width: 50%;
    display: grid;
    grid-template-columns: 60% 40%;

    .clear-photo-btn {
      width: 50%;
      height: 70%;
      margin-top: 5%;
      margin-left: 25px;
      font-size: 18px;
      color: white;
      cursor: pointer;
      background-color: rgb(236, 76, 76);
      border-radius: 10px;
      outline: none;
      border: none;

      &:hover {
        background-color: rgb(204, 10, 10);
      }
    }
  }

  .heading-product {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(228, 219, 219);

    &__upload {
      background-color: rgb(39, 171, 211);
      color: white;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: rgb(27, 116, 143);
      }
    }

    &__bg {
      background-color: pink;
    }

    &__message {
      background-color: rgb(39, 171, 211);
      color: white;
      width: 40%;
      cursor: pointer;

      &:hover {
        background-color: rgb(27, 116, 143);
      }
    }
  }

  .input-img {
    margin-top: 40px;
    font-size: 24px;
    margin: 0px 10px;
  }

  .text-msg-input {
    font-size: 20px;
    width: 41%;
  }

  .text-area-container {
    text-align: left;
  }

  .qty-container {
    background-color: #fff;
    width: 25%;
    border-radius: 5px;
    border: 0.5px solid rgb(187, 205, 221);
    display: grid;
    grid-template-columns: 50% 50%;

    .h2-qty {
      text-align: center;

      .qty-symbols {
        margin-left: 1px;
        border-radius: 5px;
        display: inline-block;

        &__number {
          border: solid 1p black;
          display: inline;
          margin-left: 10px;
        }

        &__plus {
          margin-left: 15px;
          background-color: rgb(20, 12, 6);
          color: white;
          cursor: pointer;
          font-size: 20px;
          padding: 3%;
        }

        &__minus {
          background-color: rgb(20, 12, 6);
          color: white;
          cursor: pointer;
          font-size: 20px;
          padding: 3% 4%;
        }
      }
    }

    .shirt-size-select {
      padding: 20px 20px;
    }
  }

  .continue-button-container {
    text-align: left;
    margin-top: 10px;

    .agree-with-order {
      color: rgb(3, 79, 109);
      font-size: 22px;
      .checkbox-order {
        transform: scale(2);
        margin-right: 15px;
        margin-left: 10px;
      }
    }

    .error-msg-confirm-product {
      font-size: 22px;
      margin-left: 5%;
      color: rgb(241, 58, 144);
    }

    .continue-button {
      @include button;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: rgb(241, 58, 144);
      font-weight: 700;
      color: rgb(255, 255, 255);
      width: 41.5%;
      box-shadow: 0px 5px 5px black;
      cursor: pointer;
      transition: all 0.2s;
      backface-visibility: hidden;
      border: none;

      &:hover {
        background-color: rgb(252, 102, 172);
        box-shadow: 0px 5px 5px black;
        transform: scale(1.05);
      }
    }

    .continue-button_flashing {
      @include button;
      margin-top: 10px;
      margin-bottom: 20px;
      // background-color: rgb(241, 58, 144);
      font-weight: 700;
      color: rgb(255, 255, 255);
      width: 41.5%;
      box-shadow: 0px 5px 5px black;
      cursor: pointer;
      transition: all 0.2s;
      backface-visibility: hidden;
      border: none;
      // animation: colorFlashingPink 1s ease-in-out infinite;
    }

    .screenshot-img {
      width: 600px;
    }
  }
}

.payment-info-title {
  font-weight: 500;
  font-size: 24px;
}

.x-close-modal-step3 {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  float: right;

  border: 1px black solid;
  padding: 1px 3px;
  border-radius: 5px;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);

  &:hover {
    color: red;
    transform: rotate(180deg);
  }
}

.btn-to-confirm-product {
  margin-bottom: 30px;
  animation: colorFlashingConfirm 1s ease-in-out infinite;
  font-weight: 900;
  color: rgb(2, 0, 0);
  font-size: 24px;
  box-shadow: 0px 5px 5px black;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 5px;

  &:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
    box-shadow: 0px 20px 60px black;
  }
}

.petTagBone-input-container {
  .text-petTagBone-input {
    text-transform: uppercase;
    width: 19%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
  }
}

.product-select-title {
  font-family: "montserrat";
  margin: 0;
}

.product-select {
  font-size: 19px;
  color: rgb(37, 37, 37);
  text-align: left;
  padding-left: 7%;
  border-bottom: solid 1px rgb(65, 211, 204);
  padding-bottom: 5px;

  &:hover {
    cursor: pointer;
    background-color: rgb(44, 138, 167);
    color: white;
    padding: 2px 0 2px 7%;
  }
}

.productList-icons {
  margin-right: 10px;
}

.virtual-image-container {
  margin: 0px 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 5px black;

  .product-main-title {
    font-size: 23px;
    font-weight: 700;
    left: 2%;
    position: relative;
    background-color: rgb(86, 194, 202);
    width: 25%;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 255, 255);
    border-radius: 5px;
  }

  .product-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
  }
}

.upload-img-btn {
  font-size: 24px;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  width: 40%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px black;
  background-color: rgb(45, 201, 201);
}

.bg-image-mug {
  width: 66%;
  height: 530px;
  clip-path: polygon(
    0 94%,
    0 9%,
    21% 4%,
    41% 2%,
    61% 2%,
    81% 4%,
    99% 8%,
    100% 94%,
    79% 98%,
    60% 100%,
    43% 100%,
    19% 98%
  );
}

.coupon-on-checkout {
  color: green;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1717px) {
  .steps-parent {
    display: block;
  }

  .coupon-results-wrapper {
    justify-self: start;
    grid-column: 4 / 7 !important;
    grid-row: 1;
  }

  .step-btn {
    width: 96% !important;
    display: block;
    padding: 4px 2px !important;
    margin: 5px auto !important;
    font-size: 22px;
  }
  .product-main-title {
    font-size: 20px !important;
    width: 100%;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
  }

  .virtual-image-container {
    display: block;
    margin: 40px 0;
  }

  .arrowToLeft {
    font-size: 25px;
  }

  .confirm-product-button {
    font-size: 20px;
    width: 60%;
  }

  .step-btn {
    font-weight: 600;
    font-size: 26px;
    width: 200px;
    padding: 30px;
    margin: 20px;
  }

  .product-select-title {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
  }

  .product-select {
    font-size: 18px;
  }

  .hideInSmallScreens {
    display: none;
  }
  .hideInBigScreens {
    display: block;
  }
}

@media only screen and (min-device-width: 960px) and (max-device-width: 1199px) {
  .steps-parent {
    display: block;
  }

  .coupon-results-wrapper {
    justify-self: start;
    grid-column: 4 / 7 !important;
  }

  .input-checkout__coupon {
    grid-column: 2 / 4 !important;
  }

  .step-btn {
    width: 100%;
    display: block;
    padding: 4px 2px;
    margin: 2px auto;
    font-size: 22px;
  }

  .home__heading {
    font-size: 26px;
  }

  .confirm-product-button {
    font-size: 18px;
    top: 100%;
    left: 0;
    width: 100% !important;
  }

  .confirm-product-button__pillow {
    width: 30%;
    font-size: 18px;
    margin-left: 50%;
  }

  .virtual-image-container {
    display: block;
    margin: 40px 0;
  }

  .hideInSmallScreens {
    display: none;
  }

  .product-main-title {
    font-size: 14px !important;
    width: 100%;
  }

  .product-select-title {
    font-size: 26px;
    font-weight: 800;
    margin-top: 10px;
  }

  .product-select {
    font-size: 17px;
  }

  .arrowToLeft {
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
  }

  .hideInBigScreens {
    display: block;
  }
}

@media only screen and (min-device-width: 760px) and (max-device-width: 959px) {
  .steps-parent {
    display: block;
  }

  .coupon-results-wrapper {
    justify-self: start;
    grid-column: 4 / 7 !important;
  }

  .input-checkout__coupon {
    grid-column: 2 / 4 !important;
  }

  .home__heading {
    font-size: 24px;
  }

  .cart-container {
    font-size: 22px;
    left: 2%;
  }

  .agree-with-order {
    font-size: 14.5px !important;
  }

  .checkbox-order {
    transform: scale(1.5) !important;
    margin-right: 8px !important;
    margin-left: 5px !important;
  }

  .input-checkout {
    display: block;
    width: 90%;
    margin: 5px auto;
  }

  .btn-checkout {
    display: block;
    width: 90% !important;
    margin: 10px auto !important;
    box-shadow: 0px 10px 30px black;
  }

  .heading-product__upload,
  .heading-product__message {
    font-size: 14px !important;
    // font-weight: 800;
  }

  .clear-photo-btn {
    font-size: 12px !important;
  }

  .confirm-product-button {
    font-size: 17px;
    top: 100%;
    left: 0;
    width: 100% !important;
  }

  .confirm-product-button__pillow {
    width: 30%;
    font-size: 17px;
    margin-left: 60%;
  }

  .step-btn {
    width: 100%;
    display: block;
    padding: 4px 2px;
    margin: 2px auto;
    font-size: 20px;
  }

  .virtual-image-container {
    display: block;
    margin: 40px 0;
  }

  .product-main-title {
    font-size: 14px !important;
    width: 100%;
  }

  .product-select-title {
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;
  }

  .product-select {
    font-size: 17px;
  }

  .arrowToLeft {
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
  }

  .hideInSmallScreens {
    display: none;
  }
  .hideInBigScreens {
    display: block;
  }
}

@media only screen and (min-device-width: 521px) and (max-device-width: 759px) {
  .steps-parent {
    display: block;
  }

  .coupon-results-wrapper {
    justify-self: start;
    grid-column: 4 / 7 !important;
  }

  .input-checkout__coupon {
    grid-column: 2 / 4 !important;
  }

  .home__heading {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .agree-with-order {
    font-size: 14.5px !important;
  }

  .checkbox-order {
    transform: scale(1.5) !important;
    margin-right: 8px !important;
    margin-left: 5px !important;
  }

  .input-checkout {
    display: block;
    width: 90%;
    margin: 5px auto;
  }

  .btn-checkout {
    display: block;
    width: 90% !important;
    margin: 10px auto !important;
    box-shadow: 0px 10px 30px black;
  }

  .cart-container {
    font-size: 14px;
    left: 2%;
  }

  .upload-photo-parent {
    width: 70% !important;
  }

  .heading-product__upload,
  .heading-product__message {
    font-size: 12px !important;
  }

  .clear-photo-btn {
    font-size: 12px !important;
  }

  .step-btn {
    width: 100%;
    display: block;
    padding: 4px 2px;
    margin: 2px auto;
    font-size: 15px;
  }

  .confirm-product-button {
    font-size: 16px;
    top: 100%;
    left: 0;
    width: 100% !important;
  }

  .confirm-product-button__pillow {
    width: 30%;
    font-size: 16px;
    margin-left: 70%;
  }

  .continue-button {
    width: 100% !important;
  }

  .startOver-button {
    margin-top: 15px;
    width: 30%;
    padding: 5px;
    font-size: 12px;
  }

  .virtual-image-container {
    display: block;
    margin: 60px 0;
  }

  .hideInSmallScreens {
    display: none;
  }

  .product-main-title {
    font-size: 14px !important;
    width: 100%;
  }

  .product-select-title {
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
  }

  .product-select {
    font-size: 15px;
  }

  .arrowToLeft {
    font-size: 12px;
    width: 70%;
    margin: 0 auto;
  }

  .hideInBigScreens {
    display: block;
  }
}

@media only screen and (min-device-width: 220px) and (max-device-width: 520px) {
  .controls-to-add-content-to-mugs {
    margin-top: 45%;
  }

  .coupon-results-wrapper {
    justify-self: start;
    grid-column: 4 / 7 !important;
    margin: 0 auto;
  }

  .input-checkout__coupon {
    grid-column: 1 / 4 !important;
    margin-left: 20px !important;
  }

  .coupon-error,
  .coupon-applied,
  .coupon-on-checkout {
    font-size: 12px !important;
  }

  .coupon-error {
    margin-bottom: 0;
  }

  .coupon-on-checkout {
    margin: 5px;
    text-align: left;
  }

  .shirt-mobile-heading {
    display: block;
    margin: 0 auto;
  }

  .shippingOptionsSelect {
    width: 80% !important;
    font-size: 14px;
  }

  .checkout-preview-elements {
    font-size: 14px;
  }

  .modify-product-btn,
  .btns-checkout__create-product,
  .btns-checkout__checkout {
    font-size: 14px !important;
  }

  .empty-cart-button {
    font-size: 11px !important;
  }

  .empty-cart-button__checkout-modal {
    top: 5%;
    left: 4%;
    font-size: 12px;
  }

  .agree-with-order {
    font-size: 14.5px !important;
  }

  .checkbox-order {
    transform: scale(1.5) !important;
    margin-right: 8px !important;
    margin-left: 5px !important;
  }

  .input-checkout {
    display: block;
    width: 90%;
    margin: 5px auto;
  }

  .btn-checkout {
    display: block;
    width: 90% !important;
    margin: 10px auto !important;
    box-shadow: 0px 10px 30px black;
    font-size: 14px !important;
  }

  .error-msg-confirm-product {
    font-size: 20px !important;
    margin-left: 2% !important;
  }

  .steps-parent {
    display: block;
  }

  .home__heading {
    font-size: 16px;
    margin: 0 auto 30px auto;
    // margin-bottom: 20px;
    width: 60%;
    border-radius: 10px;
  }

  .cart-container {
    font-size: 14px;
    left: 2%;
    width: 10%;
  }

  .upload-photo-parent {
    width: 100% !important;
  }

  .text-petTagBone-input,
  .text-msg-input {
    width: 90% !important;
    margin: 2px auto !important;
    font-size: 15px !important;
  }

  .heading-product__upload,
  .heading-product__message,
  .background-select {
    font-size: 12px !important;
    // font-weight: 800;
    width: 95% !important;
  }

  .clear-photo-btn {
    width: 90% !important;
    font-size: 12px !important;
    margin-top: 10px !important;
  }

  .step-btn {
    width: 100%;
    display: block;
    padding: 4px 2px;
    margin: 2px auto;
    font-size: 15px;
    text-shadow: 2px 2px black;
  }

  .confirm-product-button {
    top: 110%;
    left: 0;
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
  }

  .confirm-product-button__pillow {
    width: 30%;
    font-size: 15px;
    margin-left: 70%;
  }

  .confirm-product-button__petTagBone {
    width: 30%;
    font-size: 12px;
    margin-left: -70%;
  }

  .continue-button {
    width: 100% !important;
    font-size: 15px !important;
  }

  .startOver-button {
    margin-top: 15px;
    width: 30%;
    padding: 5px;
    font-size: 12px;
  }

  .virtual-image-container {
    display: block;
    margin-top: 10%;
    margin-left: 0;
  }

  .hideInSmallScreens {
    display: none;
  }

  .product-main-title {
    font-size: 12px !important;
    width: 100%;
  }

  .product-select-title {
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
  }

  .product-select {
    font-size: 15px;
  }

  .arrowToLeft {
    font-size: 12px !important;
    width: 50%;
    margin: 0 auto;
  }

  .hideInBigScreens {
    display: block;
    font-size: 12px;
  }

  .checkout-form .error-msg {
    font-size: 14px;
  }

  .checkout-information {
    font-size: 12px;
    margin: 3px;
    text-align: left;
  }

  .payment-info-title {
    font-size: 17px;
    margin: 0;
  }

  .input-checkout,
  .input-checkout__coupon {
    padding: 5px !important;
    margin: 2px !important;
    border-radius: 5px;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 521px) {
  .coupon-results-wrapper__applied {
    justify-self: center;
    grid-column: 1 / 7 !important;
    grid-row: 1;
  }
}
