@import "../../SCSS/variables.scss";
@import "../../SCSS/animations.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/typography.scss";

.product-creation-container {
	height: 100%;
	margin-bottom: 40px;
}

.home__heading {
	margin-top: 0;
	font-size: 35px;
	font-weight: 900;
	background-color: $color-button-orange-1;
	color: white;
	padding: 5px;
	text-shadow: 2px 2px black;
}

.cart-container {
	text-align: center;
	font-size: 30px;
	position: fixed;
	width: 100px;
	top: 5%;
	right: 2%;
	background-color: rgb(255, 245, 112);
	border: 1px solid black;
	padding: 2px;
	border-radius: 5px;
	z-index: 3000;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.2);
	}
}

.steps-parent {
	display: flex;
}

.steps-container {
	display: flex;
	flex-direction: column;

	.arrowToRight {
		transition: all 0.1s;
		animation: arrowRight ease-in-out 2s infinite;
	}
}

.arrowToLeft {
	transition: all 0.1s;
	animation: arrowRight ease-in-out 2s infinite;
	font-size: 30px;
	width: 100%;
	margin: 15px;
	color: rgb(58, 45, 21);
	text-shadow: 2px 2px white;
}

.startover-btn-container {
	text-align: right;
}

.startOver-button {
	@include button;
	margin-bottom: 20px;
	top: -90px;
	right: 0;
	position: absolute;
	background-color: rgb(160, 11, 11);
	color: rgb(255, 255, 255);
	width: 15%;
	font-size: 14px;
	box-shadow: 0px 10px 30px black;
	cursor: pointer;
	transition: all 0.2s;
	backface-visibility: hidden;

	&:hover {
		background-color: yellow;
		color: black;
		box-shadow: 0px 20px 60px black;
	}
}

.step-btn {
	outline: 0;
	border: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 26px;
	width: 500px;
	padding: 30px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px black;

	&__1 {
		background-color: $color-button-orange-1;
	}
	&__2 {
		background-color: $color-button-orange-1;
	}
	&__3 {
		background-color: $color-button-orange-1;
	}
}

.order-summary {
	font-weight: 700;
	background-color: rgb(199, 218, 166);
	font-size: 20px;
	text-align: right;
	padding: 10px;
	margin: 10px;

	.arrowDown {
		margin: 0;
		color: green;
	}

	.empty-cart-button {
		background-color: darkred;
		color: white;
		margin-left: 10px;
		font-size: 16px;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;

		&:hover {
			background-color: red;
		}
	}

	.btns-checkout {
		padding: 5px 20px;
		font-size: 18px;
		border-radius: 10px;
		margin: 5px;
		margin-bottom: 20px;
		font-weight: 700;
		cursor: pointer;
		transition: all 0.2s;

		.modify-product-btn {
			margin: 5px;
			background-color: rgb(204, 204, 204);
			width: 100%;
			padding: 5px 20px;
			font-size: 18px;
			border-radius: 10px;
			font-weight: 700;
			cursor: pointer;
			transition: all 0.2s;
			&:hover {
				transform: scale(1.1);
			}
		}

		&__cart {
			background-color: rgb(255, 154, 21);
			color: white;
			width: 100%;
			&:hover {
				transform: scale(1.1);
			}
		}

		&__create-product {
			background-color: rgb(255, 154, 21);
			color: white;
			width: 100%;
			&:hover {
				transform: scale(1.1);
			}
		}

		&__checkout {
			background-color: rgb(109, 250, 15);
			width: 100%;
			color: rgb(73, 67, 67);
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.empty-cart-button__checkout {
		background-color: darkred;
		color: white;
		margin-left: 10px;
		font-size: 16px;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;

		&:hover {
			background-color: red;
		}
	}
}

.controls-to-add-content-to-mugs {
	background-color: rgb(39, 37, 37);
	padding: 20px;
	margin: 5px;
	border-radius: 10px;

	.background-select {
		width: 41.5%;
	}

	.upload-photo-parent {
		width: 50%;
		display: grid;
		grid-template-columns: 50% 50%;

		.clear-photo-btn {
			width: 50%;
			height: 30px;
			margin-top: 8%;
			margin-left: 25px;
			font-size: 18px;
			color: white;
			cursor: pointer;
			background-color: rgb(99, 38, 38);
			border-radius: 10px;
			outline: none;
			border: 1px solid rgb(41, 4, 4);

			&:hover {
				background-color: rgb(204, 10, 10);
			}
		}
	}

	.heading-product {
		font-size: 20px;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 0px 5px 10px rgb(228, 219, 219);

		&__upload {
			background-color: rgb(163, 241, 176);
			cursor: pointer;
			width: 100%;

			&:hover {
				background-color: white;
			}
		}

		&__bg {
			background-color: pink;
		}

		&__message {
			background-color: rgb(163, 241, 176);
			width: 40%;
			cursor: pointer;

			&:hover {
				background-color: white;
			}
		}
	}

	.input-img {
		margin-top: 40px;
		font-size: 24px;
		margin: 0px 10px;
	}

	.text-msg-input {
		font-size: 20px;
		width: 41%;
	}

	.text-area-container {
		text-align: left;
	}

	.qty-container {
		background-color: #fff;
		width: 25%;
		border-radius: 5px;
		display: grid;
		grid-template-columns: 50% 50%;

		.h2-qty {
			text-align: center;
			// padding: 4px 5px;

			.qty-symbols {
				margin-left: 1px;
				border-radius: 5px;
				// width: 20px;
				display: inline-block;

				&__number {
					border: solid 1p black;
					display: inline;
					margin-left: 10px;
				}

				&__plus {
					margin-left: 15px;
					background-color: rgb(20, 12, 6);
					color: white;
					cursor: pointer;
					font-size: 20px;
					padding: 3%;
				}

				&__minus {
					background-color: rgb(20, 12, 6);
					color: white;
					cursor: pointer;
					font-size: 20px;
					padding: 3% 4%;
				}
			}
		}

		.shirt-size-select {
			// display: inline;
			padding: 20px 20px;
		}
	}

	.continue-button-container {
		text-align: left;
		margin-top: 10px;

		.agree-with-order {
			color: white;
			font-size: 22px;
			.checkbox-order {
				transform: scale(2);
				margin-right: 15px;
				margin-left: 10px;
			}
		}

		.error-msg-confirm-product {
			font-size: 24px;
			margin-left: 5%;
		}

		.continue-button {
			@include button;
			margin-top: 10px;
			margin-bottom: 20px;
			background-color: rgb(15, 223, 15);
			font-weight: 700;
			color: rgb(0, 0, 0);
			width: 41.5%;
			box-shadow: 0px 10px 30px black;
			cursor: pointer;
			transition: all 0.2s;
			backface-visibility: hidden;

			&:hover {
				background-color: rgb(115, 197, 90);
				color: black;
				box-shadow: 0px 20px 60px black;
				transform: scale(1.1);
			}
		}

		.screenshot-img {
			width: 600px;
		}
	}
}

.checkout-form {
	.input-checkout {
		padding: 10px;
		box-shadow: 0px 10px 10px rgb(146, 139, 139);
	}

	.btn-checkout {
		margin-left: 30px;
		width: 20%;
		padding: 3px 0;
		border-radius: 10px;
		background-color: rgb(111, 134, 115);
		color: white;
		font-size: 18px;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			background-color: rgb(70, 88, 73);
		}
	}

	.error-msg {
		color: red;
		margin-top: 30px;
		font-size: 20px;
	}
}

.x-close-modal {
	font-size: 22px;
	cursor: pointer;
	transition: all 0.2s;
	float: right;

	&:hover {
		color: red;
	}
}

.confirm-product-button {
	@include button;
	margin-bottom: 30px;
	background-color: $color-primary-dark;
	color: white;
	font-size: 24px;
	width: 40%;
	box-shadow: 0px 20px 30px black;
	cursor: pointer;
	transition: all 0.1s;
	position: absolute;
	top: -70px;
	left: 30%;
	// z-index: 10000;

	&:hover {
		background-color: $color-primary;
		transform: scale(1.2);
		box-shadow: 0px 20px 60px black;
	}
}

.product-select {
	cursor: pointer;

	&:hover {
		background-color: rgb(194, 204, 223);
	}
}

.virtual-image-container {
	margin: 0px 20px;
	background-color: rgb(173, 210, 216);
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 10px 20px black;

	.product-main-title {
		left: 5%;
		position: relative;
		background-color: rgb(253, 249, 14);
		width: 20%;
		padding: 5px;
		text-align: center;
		border-radius: 10px;
	}

	.product-image-container {
		position: relative;
		width: 100%;
		padding-bottom: 20px;

		.mugs-container {
			display: flex;

			.product-sides {
				font-size: 20px;
				margin-top: 8%;
				&__a {
					margin-left: 30px;
				}

				&__b {
					margin-left: 48%;
				}
			}

			&__front {
				width: 30%;
				position: relative;

				.product-img {
					height: auto;
					width: 50%;
				}

				.product-img-preview-mug {
					opacity: 80%;
					width: 35%;
					height: 85%;
					position: absolute;
					top: 5%;
					left: 26%;
					clip-path: polygon(
						0 94%,
						0 9%,
						21% 4%,
						41% 2%,
						61% 2%,
						81% 4%,
						99% 8%,
						100% 94%,
						79% 98%,
						60% 100%,
						43% 100%,
						19% 98%
					);
				}
			}

			&__back {
				width: 50%;
				position: absolute;
				right: 0;

				.product-img__back {
					height: auto;
					width: 30%;
				}

				.text-on-mugs {
					width: 22%;
					height: 350px;
					top: 8%;
					left: 42%;
					z-index: 2;
					display: inline-block;
					position: absolute;
					&__container {
						white-space: pre-wrap;
						font-size: 30px;
						font-family: "Arial Black", Gadget, sans-serif;
					}
				}

				.bg-container-mugs {
					.bg-image-mug {
						position: absolute;
						top: 5%;
						left: 44%;
						width: 20%;
						height: 85%;
						clip-path: polygon(
							0 94%,
							0 9%,
							21% 4%,
							41% 2%,
							61% 2%,
							81% 4%,
							99% 8%,
							100% 94%,
							79% 98%,
							60% 100%,
							43% 100%,
							19% 98%
						);
					}
				}

				.move-text-btns-container {
					top: 40px;
					display: flex;
					position: relative;
					width: 95%;
					right: 0;

					.move-text-btns {
						position: absolute;
						font-size: 25px;
						padding: 5px 0px;
						border-radius: 10px;
						background-color: $color-primary-dark;
						cursor: pointer;
						margin-top: 20px;
						transition: all 0.1s;

						&:hover {
							background-color: #fff;
							transform: scale(1.1);
							color: black;
						}

						&__up {
							width: 48%;
							left: 0;
							top: 60px;
							color: white;
						}

						&__down {
							width: 48%;
							right: 0;
							top: 60px;
							color: white;
						}

						&__right {
							width: 48%;
							right: 0;
							top: 120px;
							color: white;
						}

						&__left {
							width: 48%;
							top: 120px;
							color: white;
						}

						&__increase-font {
							width: 48%;
							top: 180px;
							background-color: rgb(109, 71, 71);
							color: white;
						}

						&__decrease-font {
							width: 48%;
							top: 180px;
							right: 0;
							background-color: rgb(109, 71, 71);
							color: white;
						}

						&__font-color {
							z-index: 4;
							width: 100%;
							// background-color: rgb(22, 155, 243);
							cursor: pointer;
						}

						&__font-title {
							top: 260px;
							width: 100%;
							animation: color-bg ease-in-out 2s infinite;
							background-color: rgb(22, 155, 243);

							position: absolute;
							font-size: 25px;
							padding: 5px 0px;
							border-radius: 10px;
							background-color: $color-primary-dark;
							color: white;
							margin-top: 20px;
							transition: all 0.1s;
						}
					}
				}
			}
		}
	}
}

.upload-img-btn {
	font-size: 24px;
	outline: 0;
	border: none;
	cursor: pointer;
	font-weight: 600;
	width: 40%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px black;
	background-color: rgb(45, 201, 201);
}

.bg-image-mug {
	width: 66%;
	height: 530px;
	clip-path: polygon(
		0 94%,
		0 9%,
		21% 4%,
		41% 2%,
		61% 2%,
		81% 4%,
		99% 8%,
		100% 94%,
		79% 98%,
		60% 100%,
		43% 100%,
		19% 98%
	);
}

// @media only screen and (min-device-width: 1366px) and (max-device-width: 1480px) {
// 	.product-img-preview-mug {
// 		// width: 40%;
// 		height: 65%;
// 	}
// }

// @media only screen and (min-device-width: 1260px) and (max-device-width: 1365px) {
// 	.product-img-preview-mug {
// 		// width: 40%;
// 		height: 60%;
// 	}
// }

// @media only screen and (min-device-width: 1242px) and (max-device-width: 1259px) {
// 	.product-img-preview-mug {
// 		// width: 40%;
// 		height: 55%;
// 	}
// }

// @media only screen and (min-device-width: 1200px) and (max-device-width: 1241px) {
// 	.product-img-preview-mug {
// 		// width: 40%;
// 		height: 52%;
// 	}
// }

// @media only screen and (min-device-width: 1138px) and (max-device-width: 1200px) {
// 	.product-img-preview-mug {
// 		// width: 40%;
// 		height: 45%;
// 	}
// }

// @media only screen and (min-device-width: 1120px) and (max-device-width: 1137px) {
// 	.product-img-preview-mug {
// 		// width: 40%;
// 		height: 40%;
// 	}
// }

// @media only screen and (min-device-width: 1080px) and (max-device-width: 1119px) {
// 	.product-img-preview-mug {
// 		// width: 40%;
// 		height: 36%;
// 	}
// }
