@import "../../SCSS/variables.scss";
@import "../../SCSS/animations.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/typography.scss";

.product-creation-container {
	height: 100%;
	margin-bottom: 40px;
}

.home__heading {
	font-size: 40px;
	font-weight: 900;
	background-color: rgb(243, 114, 9);
	color: white;
	padding: 10px;
	text-shadow: 2px 2px black;
}

.steps-parent {
	display: flex;
}

.steps-container {
	display: flex;
	flex-direction: column;

	.arrowToRight {
		transition: all 0.1s;
		animation: arrowRight ease-in-out 2s infinite;
	}
}

.startover-btn-container {
	text-align: right;
}

.startOver-button {
	@include button;
	margin-bottom: 20px;
	top: -50px;
	position: relative;
	background-color: rgb(160, 11, 11);
	color: rgb(255, 255, 255);
	width: 30%;
	box-shadow: 0px 10px 30px black;
	cursor: pointer;
	transition: all 0.2s;
	backface-visibility: hidden;

	&:hover {
		background-color: yellow;
		color: black;
		box-shadow: 0px 20px 60px black;
	}
}

.continue-button {
	@include button;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: rgb(15, 223, 15);
	font-weight: 700;
	color: rgb(0, 0, 0);
	width: 41.5%;
	box-shadow: 0px 10px 30px black;
	cursor: pointer;
	transition: all 0.2s;
	backface-visibility: hidden;

	&:hover {
		background-color: rgb(115, 197, 90);
		color: black;
		box-shadow: 0px 20px 60px black;
		transform: scale(1.1);
	}
}

.step-btn {
	outline: 0;
	border: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 26px;
	width: 500px;
	padding: 30px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px black;

	&__1 {
		background-color: rgb(240, 140, 69);
	}
	&__2 {
		background-color: rgb(93, 206, 187);
	}
	&__3 {
		background-color: rgb(149, 165, 149);
	}
}

.step-2-container {
	background-color: rgb(39, 37, 37);
	padding: 20px;
	margin: 5px;
	border-radius: 10px;

	.background-select {
		width: 41.5%;
	}

	.heading-product {
		font-size: 20px;
		padding: 10px;
		border-radius: 10px;

		&__upload {
			background-color: rgb(163, 241, 176);
			cursor: pointer;
			width: 40%;

			&:hover {
				background-color: white;
			}
		}

		&__bg {
			background-color: pink;
		}

		&__message {
			background-color: rgb(163, 241, 176);
			width: 40%;
		}
	}

	.input-img {
		margin-top: 40px;
		font-size: 24px;
		margin: 0px 10px;
	}

	.text-msg-input {
		font-size: 20px;
		width: 41%;
	}

	.text-area-container {
		text-align: left;
	}

	.continue-button-container {
		text-align: left;

		.screenshot-img {
			width: 600px;
		}
	}
}

.confirm-product-button {
	@include button;
	margin-bottom: 30px;
	background-color: $color-primary-dark;
	color: white;
	font-size: 24px;
	width: 40%;
	box-shadow: 0px 20px 30px black;
	cursor: pointer;
	transition: all 0.1s;

	&:hover {
		background-color: $color-primary;
		transform: scale(1.4);
		box-shadow: 0px 20px 60px black;
	}
}

.product-select {
	cursor: pointer;

	&:hover {
		background-color: rgb(194, 204, 223);
	}
}

.virtual-image-container {
	margin: 0px 20px;
	background-color: rgb(195, 207, 207);
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 10px 20px black;

	.product-image-container {
		position: relative;
		width: 100%;
		padding-bottom: 20px;

		.mugs-container {
			display: flex;

			&__front {
				width: 100%;
				position: relative;

				.product-img {
					height: auto;
					width: 50%;
				}

				.product-img-preview-mug {
					opacity: 80%;
					width: 35%;
					height: 85%;
					position: absolute;
					top: 5%;
					left: 26%;
					clip-path: polygon(
						0 94%,
						0 9%,
						21% 4%,
						41% 2%,
						61% 2%,
						81% 4%,
						99% 8%,
						100% 94%,
						79% 98%,
						60% 100%,
						43% 100%,
						19% 98%
					);
				}
			}

			&__back {
				width: 100%;
				position: relative;

				.product-img__back {
					height: auto;
					width: 50%;
				}

				.text-on-mugs {
					max-width: 30%;
					height: 350px;
					position: absolute;
					top: 10%;
					right: 28%;
					z-index: 2;

					&__container {
						white-space: pre-wrap;
						font-size: 30px;
						font-family: "Arial Black", Gadget, sans-serif;
					}
				}

				.bg-container-mugs {
					.bg-image-mug {
						position: absolute;
						top: 5%;
						right: 26%;
						width: 35%;
						height: 85%;
						clip-path: polygon(
							0 94%,
							0 9%,
							21% 4%,
							41% 2%,
							61% 2%,
							81% 4%,
							99% 8%,
							100% 94%,
							79% 98%,
							60% 100%,
							43% 100%,
							19% 98%
						);
					}
				}

				.move-text-btns-container {
					top: 40px;
					display: flex;
					position: relative;
					width: 95%;

					.move-text-btns {
						position: absolute;
						font-size: 25px;
						padding: 5px 0px;
						border-radius: 10px;
						background-color: $color-primary-dark;
						color: white;
						cursor: pointer;
						margin-top: 20px;
						transition: all 0.1s;

						&:hover {
							background-color: #fff;
							transform: scale(1.1);
							color: black;
						}

						&__up {
							width: 48%;
							left: 0;
							top: 60px;
						}

						&__down {
							width: 48%;
							right: 0;
							top: 60px;
						}

						&__right {
							width: 48%;
							right: 0;
							top: 120px;
						}

						&__left {
							width: 48%;
							top: 120px;
						}

						&__increase-font {
							width: 48%;
							top: 180px;
							background-color: rgb(109, 71, 71);
						}

						&__decrease-font {
							width: 48%;
							top: 180px;
							right: 0;
							background-color: rgb(109, 71, 71);
						}

						&__font-color {
							z-index: 4;
							width: 100%;
							background-color: rgb(22, 155, 243);
						}

						&__font-title {
							top: 260px;
							width: 100%;
							animation: color-bg ease-in-out 2s infinite;
							background-color: rgb(22, 155, 243);

							position: absolute;
							font-size: 25px;
							padding: 5px 0px;
							border-radius: 10px;
							background-color: $color-primary-dark;
							color: white;
							margin-top: 20px;
							transition: all 0.1s;
						}
					}
				}
			}
		}
	}
}

.upload-img-btn {
	font-size: 24px;
	outline: 0;
	border: none;
	cursor: pointer;
	font-weight: 600;
	width: 40%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px black;
	background-color: rgb(45, 201, 201);
}

.bg-image-mug {
	width: 66%;
	height: 530px;
	clip-path: polygon(
		0 94%,
		0 9%,
		21% 4%,
		41% 2%,
		61% 2%,
		81% 4%,
		99% 8%,
		100% 94%,
		79% 98%,
		60% 100%,
		43% 100%,
		19% 98%
	);
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1480px) {
	.product-img-preview-mug {
		// width: 40%;
		height: 65%;
	}
}

@media only screen and (min-device-width: 1260px) and (max-device-width: 1365px) {
	.product-img-preview-mug {
		// width: 40%;
		height: 60%;
	}
}

@media only screen and (min-device-width: 1242px) and (max-device-width: 1259px) {
	.product-img-preview-mug {
		// width: 40%;
		height: 55%;
	}
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1241px) {
	.product-img-preview-mug {
		// width: 40%;
		height: 52%;
	}
}

@media only screen and (min-device-width: 1138px) and (max-device-width: 1200px) {
	.product-img-preview-mug {
		// width: 40%;
		height: 45%;
	}
}

@media only screen and (min-device-width: 1120px) and (max-device-width: 1137px) {
	.product-img-preview-mug {
		// width: 40%;
		height: 40%;
	}
}

@media only screen and (min-device-width: 1080px) and (max-device-width: 1119px) {
	.product-img-preview-mug {
		// width: 40%;
		height: 36%;
	}
}
