@import "../../SCSS/variables.scss";
@import "../../SCSS/animations.scss";
@import "../../SCSS/mixins.scss";
@import "../../SCSS/typography.scss";

.menu {
	margin: 0px;
	background-color: $color-secondary-dark;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px 15px;
	list-style: none;
	text-decoration: none;
	color: rgb(0, 0, 0) !important;

	&li {
		padding: 35px 15px;
	}
}

.logo {
	border-radius: 100px;
	position: relative;
	&__navbar {
		position: absolute;
		top: 25px;
		left: 2%;
		width: 4%;
	}
}

.nav-link {
	color: rgb(0, 0, 0);
	font-size: 26px;
	text-decoration: none;

	&__home {
		order: 0;
	}
	&__contact {
		order: 1;
	}
	&__about {
		order: 2;
	}
	&__products {
		order: 3;
	}
}

.links-home {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: 700;
}
