.text-center {
	text-align: center;
}

.font-medium {
	font-size: 22 !important;
}

.font-big {
	font-size: 26;
}

.font-huge {
	font-size: 35;
}

.color-white {
	color: white;
}

.color-yellow {
	color: rgb(255, 230, 5);
}
