$color-primary: #35659c;
$color-primary-light: #accf8e;
$color-primary-dark: #1b7bc9;

$color-secondary-light: #c59700;
$color-button-orange-1: #ba3230;
$color-button-orange-2: #c5cc5f;
$color-button-orange-3: #bbbe00;
$color-secondary-dark: #30b8ba;
// $color-secondary-dark: #30d9f7;
// $color-button-orange-1: #e9ce76;
