$color-primary: #35659c;
$color-primary-light: #accf8e;
$color-primary-dark: #1b7bc9;

$color-secondary-light: #c59700;
$color-button-orange-1: #e9ce76;
$color-button-orange-2: #d1b200;
$color-button-orange-3: #bbbe00;
$color-secondary-dark: #30d9f7;
